<div id="greeting" class="main-body">
    <div class="part-1">
        <h2 class="h-large">창립자 인사말</h2>
        <p>지금까지 그래왔던 것처럼 아인셀는 앞으로도 사회적 책임을 다하기 위한 바른길을 가겠습니다.</p>
        <p class="h-small">일하는 직원이 행복하고, 고객에게 신뢰받는 기업 AINCELL!</p>
        <p class="p-span">창립자 세르게이 쿨리코프는 비즈니스 및 네트워크 마케팅 전문가로 직접판매업계에서 많은 경험과 큰 성공을 거두었습니다. 경쟁력 있는 독자적이고 차별화된 제품과 지속적이고 안정적인 소득 시스템으로 8년 만에 약 15개국에 진출하는 성과를 거두었습니다.
        </p>            
        <p class="p-span">아인셀는 개인적인 목표를 달성하고 삶의 질을 향상시킬 수 있는 훌륭한 기회를 제공할 것이며, 세계 각국의 파트너들과 신뢰로 검증된 체계적이고 <br> 전문적인 시스템으로 아인셀가 여러분의 성공과 함께 하겠습니다</p>
    </div>

    <div class="part-2 row">
        <div class="col-sm ceo-message row">
            <div class="col-auto quote-sign">
                <img src="../../assets/img/icons/quote-open.svg">
            </div>
            <div class="col">
                <p class="quote-content">
                아인셀는 비즈니스의 성공을 위해 무엇을 해야 하는지 알고 있는 전문가들로 구성되어 있습니다. 아인셀에게 불가능이란 존재하지 않습니다. 아인셀는 자신의 잠재력을 깨닫고 새로운 성장 방법을 함께 찾아 나아갈 준비가 되어 있습니다.
                </p>
                <p>SERGEY KULIKOV<br>
                (세르게이 쿨리코프) / 창립자</p> 
            </div>
        </div>
        <div class="col-sm-auto ceo-img">
            <img src="../../assets/img/home/img2.png">
        </div>
    </div>

</div>

