.member-registration .heading h2 {
    display: inline;
}

.member-registration .heading span {
    color: rgba(0, 0, 0, .5);
}




@media all and (min-width: 992px) {
    .member-registration.login #functional-menu {
        box-shadow: none;
    }
}








@media all and (max-width: 575px) {
    .member-registration .container {
        padding-bottom: 80px;
    }
}


@media all and (min-width: 576px) and (max-width: 767px) {
    .member-registration .container {
        padding-bottom: 90px;
    }
}


@media all and (min-width: 768px) and (max-width: 991px) {
    .member-registration .container {
        padding-bottom: 100px;
    }
}


@media all and (min-width: 992px) {
    .member-registration .container {
        padding-top: 20px;
        padding-bottom: 120px;
    }
}







.registration-steps {
    margin-bottom: 20px;
}


.registration-steps ul {
    padding: 0;
    margin: 0;
    position: relative;
}

.registration-steps ul:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #F3F4FB;
    z-index: 1;
}


.registration-steps ul li {
    text-align: center;
    padding: 20px 5px;
    position: relative;
}

.registration-steps ul li:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    left: 0;
    z-index: 2;
}


.registration-steps ul li.current:after {
    background: #6682E4;
}

.registration-steps ul li.done:after {

    background: #E0C180;
}



.registration-steps ul li:not(:last-child):before {
    content: "";
    position: absolute;
    height: 40%;
    width: 1px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .1);
}




@media all and (max-width: 767px) {
	.registration-steps ul li span {
        display: block;
        text-align: center;
    }
    .registration-steps ul li span:first-child {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .registration-steps ul li span:last-child {
        font-size: 12px;
        line-height: 1.25em;
    }
}






















/* Membertab */

.pagination .total .value {
    color: #000;
}






.memnberTab .pagination .per-page .dropdown-select {
    background: transparent;
    width: 70px;
}

.memnberTab .pagination .per-page .label {
    padding-right: 0;
}

.memnberTab .dropdown-select .selected span {
    padding: 0;
}










.member-registration .step-content .inputs-wrapper {
    align-items: center;
}

@media only screen and (max-width: 767px) {
    .member-registration .step-content .inputs-wrapper {
        margin-bottom: 10px;
    }
}

.member-registration .step-content .hyphen {
    margin-left: 5px;
    margin-right: 5px;
}












/*----- Form Content */

.member-registration .step-content {
    margin-bottom: 10px;
}

.member-registration .step-content:last-child {
    margin-bottom: 0;
}







.registration-form {
    margin-left: auto;
    margin-right: auto;
}





/*---- Form Row ----*/

@media all and (max-width: 991px) {
    .registration-form .form-row {
        margin-bottom: 15px;
    }
}

@media all and (min-width: 992px) {
    .registration-form .form-row {
        margin-bottom: 20px;
    }
}

.registration-form .form-row:last-child {
    margin-bottom: 0;
}











/*----- Col 1 | Label ------*/

@media all and (max-width: 575px) {
    .registration-form .label {
        margin-bottom: 0px;
    }
}


@media all and (min-width: 576px) and (max-width: 991px) {
    .registration-form .label {
        padding-right: 15px;
    }
}


@media all and (min-width: 992px) {
    .registration-form .label {
        padding-right: 20px;
    }
}





/*----- Col 2 | Input ------*/

.registration-form .dropdown-select .selected,
.registration-form .dropdown-select .options {
    background: #FFF;
}


.registration-form .dropdown-select .selected,
.registration-form input {
    border: 1px solid rgba(0, 0, 0, .05);
    background: #F9FAFD;    
}

.registration-form input {
    width: 100%; 
}


.member-registration input:read-only {
    color: rgba(43, 41, 55, .7);
}


.registration-form .dropdown-select .options {
    padding: 10px 0;
    border-top: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .05);
}



.registration-form .dropdown-select .option:hover {
    color: #ac998a;
}












/*------ Year, Month, Day & Calendar ------*/


@media all and (max-width: 419px) {
    .registration-form .year-select {
        width: 34%;
        margin-right: 2%;
    }

    .registration-form .month-select {
        width: 31%;
        margin-right: 2%;
    }

    .registration-form .day-select {
        width: 31%;
    }

    .registration-form .calendar-select {
        width: 100%;
        margin-top: 10px;
    }
}


@media all and (min-width: 420px) {
    .registration-form .year-select {
        width: 25%;
        margin-right: 2%;
    }

    .registration-form .month-select,
    .registration-form .day-select {
        width: 23%;
        margin-right: 2%;
    }

    .registration-form .calendar-select {
        width: 23%;
    }
}
















/*----- Col 3 | Notice & Verify Buttons ------*/

.registration-form .verify-btn {
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .05);
}


.registration-form .form-row .w-btn {
    height: 44px;
}

.member-registration .input .verify-btn {
    margin-top: 0;
}


@media all and (max-width: 767px) {
    .member-registration .input .verify-btn {
        min-width: 80px;
    }
}


@media all and (min-width: 768px) {
    .member-registration .input .verify-btn {
        min-width: 100px;
    }
}











@media all and (max-width: 767px) {
    .registration-form .extra .verify-btn {
        margin-top: 10px;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .registration-form .extra .verify-btn {
        margin-left: 10px;
    }

}


@media all and (min-width: 992px) {
    .registration-form .extra .verify-btn {
        margin-left: 15px;
    }
}










.registration-form .dropdown-select .selected,
.registration-form input {
    height: 44px;
    padding: 0 10px;
}



.member-registration .step-content .notice {
    text-align: center;
}

.member-registration .step-content .required {
    margin-right: 10px;
    color: #ac998a;
}

.required-field {
    color: red;
    margin-left: 5px;
}



@media all and (max-width: 575px) {
    .member-registration .step-content .notice {
        margin-bottom: 25px;
    }
}

@media all and (min-width: 576px) and (max-width: 767px) {
    .member-registration .step-content .notice {
        margin-bottom: 30px;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .member-registration .step-content .notice {
        margin-bottom: 35px;
    }
}

@media all and (min-width: 992px) {
    .member-registration .step-content .notice {
        margin-bottom: 40px;
    }
}






.member-registration .step-content .warning {
    font-size: 14px;
    display: block;
    margin-top: 7px;
}





.member-registration .heading {
    text-align: left;
}

.member-registration .agreement-part {
    margin-bottom: 20px;
}





/*----- Step 1 | Terms & Conditions Agreement -----*/


.member-registration .agreement .info:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}




.member-registration .agreement .info.opened .info-heading {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.member-registration .agreement .info-heading {
    display: flex;
}




@media all and (max-width: 575px) {
    .member-registration .agreement .info-heading {
        padding: 12.5px 0;
    }
}


@media all and (min-width: 576px) and (max-width: 767px) {
    .member-registration .agreement .info-heading {
        padding: 15px 0;
    }
}


@media all and (min-width: 768px) and (max-width: 991px) {
    .member-registration .agreement .info-heading {
        padding: 17.5px 0;
    }
}


@media all and (min-width: 992px) {
    .member-registration .agreement .info-heading {
        padding: 20px 0;
    }
}







.member-registration .agreement .info .btn-expand {
    cursor: pointer;
    transform: rotate(180deg);
    transition: all ease-in-out .3s;
    transform-origin: center;
}

.member-registration .agreement .info .btn-expand.expanded {
    transform: rotate(0deg);
}

































#member-registration-1 .step-content .info .info-content {
    max-height: 320px;
    overflow-x: hidden;
    padding-right: 40px;
    display: none;
}



































#member-registration-1 .step-content .info .info-content.opened {
    display: block;
}







#member-registration-1 .step-content .info .info-content p:last-child,
#member-registration-1 .step-content .info .info-content ul:last-child,
#member-registration-1 .step-content .info .info-content ol:last-child {
    margin-bottom: 0;
}

#member-registration-1 .step-content .info .info-content ul,
#member-registration-1 .step-content .info .info-content ol {
    padding-left: 1em;
}






@media all and (max-width: 575px) {
    #member-registration-1 .step-content .info .info-content {
        margin-bottom: 20px;
        margin-top: 20px;
    }


}


@media all and (min-width: 576px) and (max-width: 767px) {
    #member-registration-1 .step-content .info .info-content {
        margin-top: 22.5px;
        margin-bottom: 22.5px;
    }

}


@media all and (min-width: 768px) and (max-width: 991px) {
    #member-registration-1 .step-content .info .info-content {
        margin-top: 25px;
        margin-bottom: 25px;
    }

}




@media all and (min-width: 992px) {
    #member-registration-1 .step-content .info .info-content {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}



#member-registration-1 .step-content .info:last-child {
    margin-bottom: 0;
}


#member-registration-1 .step-content .info ::-webkit-scrollbar {
    width: 10px;
    background: #F2F2F2;

}



#member-registration-1 .group-btns .primary-btn {
    min-width: 100px;
}


.member-registration .row.btns a {
    padding-left: 30px;
    padding-right: 30px;
}

.member-registration .row.btns a:hover {
    color: #FFF;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 20%);
}

@media all and (min-width: 5752px) {
    #member-registration-1 .member-registration .row.btns a {
        margin-bottom: 15px;
    }
}





































.searching-form .memCheck .submit-btn {
    background: #0CA0A4;
    box-shadow: 0px 5px 10px rgb(176 131 116 / 20%);

    padding: 12px 17px;
}





.btns-wrapper .top-line-btn {
    margin-right: 10px;
}







/* @media all and (max-width: 575px) {
	#member-information-inquiry .searching-result .searching-form 
	.standard-member-name .label {
		margin-right: 10px;
	}	
}


@media all and (max-width: 991px) {
	#member-information-inquiry .searching-result .searching-form 
	.standard-member-name .label {
		padding-right: 10px;
	}	
}






@media all and (max-width: 575px) {
	#member-information-inquiry .searching-result .searching-form .submit-btn {
		min-width: 80px;
	}
}

@media all and (min-width: 576px) and (max-width: 767px) {
	#member-information-inquiry .searching-result .searching-form .submit-btn {
		min-width: 100px;
	}
	
}

 */






/*------ Overall ------*/

/* 
@media all and (max-width: 575px) {
	#member-information-inquiry .overall .column:first-child {
		margin-bottom: 40px;
	}
}


@media all and (min-width: 992px) {
	#member-information-inquiry .profile {
		margin-right: 30px;		
	}
	
	#member-information-inquiry .office-block {
		margin-bottom: 30px;
	}
} */











/*------ Recommended Genealogy --------*/


@media all and (max-width: 575px) {
    /* #member-information-inquiry .profile td:first-child {
		width: 45%;
		background: #f5f5f5;
	}

	#member-information-inquiry .searching-form input {
		padding: 9px 12.5px;
	}
	.memInfor .searching-form .name-browsing-btn {
		right: 27px;
	}
	#member-information-inquiry .result-block h2{
		float: left;
	}

	#member-information-inquiry .profile .confirm-btn{
		float: right;
		
	} */

    .result-block.recommended-genealogy h2 {
        margin-bottom: 0;
    }

    /* #member-information-inquiry .section-content .container.results{
		padding-top: 20px;
	} */
    .memnberTab {
        box-shadow: none;
    }
}


/* @media all and (min-width: 576px) and (max-width: 767px) {
	#member-information-inquiry .profile td:first-child {
		width: 40%;
	}
	
} */


@media all and (min-width: 768px) and (max-width: 991px) {

    /* #member-information-inquiry .profile td:first-child {
		width: 40%;
	} */
    .memInfor .searching-form .name-browsing-btn {
        right: 0px;
    }
}



/* @media all and (max-width: 991px) {
	#member-information-inquiry .recommended-genealogy-list, 
	#member-information-inquiry .recommended-genealogy-list table {
		margin-bottom: 0;
	}
}


@media all and (min-width: 992px) {
	#member-information-inquiry .profile td:first-child {
		width: 35%;
	}
}



#member-information-inquiry .profile td:first-child {
	background:#F6F9FE;
	border-right: 1px solid rgba(0,0,0,.07);
} */







@media all and (max-width: 991px) {
    #line-lineage .searching-form .sub-order-division {
        border: none;
    }
}



@media all and (min-width: 992px) and (max-width: 1199px) {
    #line-lineage .searching-result .searching-form .criteria-classification {
        margin-right: 15px;
    }

    #line-lineage .searching-result .searching-form .radios-group .radio:not(:last-child) {
        margin-right: 5px;
    }

    #line-lineage .searching-result .submit-btn,
    #line-lineage .searching-result .top-line-btn {
        min-width: 100px;
    }
}


@media all and (min-width: 1200px) {
    #line-lineage .searching-result .searching-form .criteria-classification {
        margin-right: 30px;
    }

    #line-lineage .searching-result .submit-btn,
    #line-lineage .searching-result .top-line-btn {
        min-width: 130px;
    }
}





/*------ Promotion Date --------*/


/*------ Affiliated Members --------*/


/*------ Monthly Chart --------*/


/* #member-information-inquiry .monthly-performance .hr-chart ul li {
	display: block;	
	width: calc(100%/12);
} */





















/*------ Member Management ------
		 3. Member Search
---------------------------------*/


#member-search .searching-result .hr-table {
    text-align: center;
}

#member-search .section-content .container.results {
    padding-bottom: 40px;

}




@media all and (max-width: 575px) {

    #member-search .searching-result .inquiry-classification,
    #member-search .searching-result .rank,
    #member-search .searching-result .standard-member-name {
        margin-bottom: 10px;
        width: 100%;
    }

    #member-search .searching-result .inquiry-classification,
    #member-search .searching-result .rank,
    #member-search .searching-result .standard-member-name,
    #member-search .searching-result .member-name {
        border: 1px solid rgba(0, 0, 0, .1);
        background: #fff;
    }

}


@media all and (min-width: 576px) and (max-width: 767px) {

    #member-search .searching-result .inquiry-classification,
    #member-search .searching-result .rank,
    #member-search .searching-result .standard-member-name {
        margin-bottom: 12.5px;
        width: 100%;
        background: #fff;
    }


}





@media all and (min-width: 768px) and (max-width: 991px) {

    #member-search .searching-result .inquiry-classification,
    #member-search .searching-result .rank {
        margin-bottom: 15px;
    }


    #member-search .searching-result .inquiry-classification,
    #member-search .searching-result .rank,
    #member-search .searching-result .standard-member-name,
    #member-search .searching-result .member-name {
        width: calc(50% - 5px);
    }

    #member-search .searching-result .inquiry-classification,
    #member-search .searching-result .standard-member-name {
        margin-right: 10px;
    }

}









@media all and (min-width: 992px) and (max-width: 1199px) {

    #member-search .searching-result .inquiry-classification,
    #member-search .searching-result .rank,
    #member-search .searching-result .standard-member-name {
        margin-right: 20px;
    }



    #member-search .searching-result .rank .dropdown-select {
        min-width: 120px;
    }

    #member-search .searching-result .standard-member-name input {
        width: 120px;
    }
}


@media all and (min-width: 1200px) {

    #member-search .searching-result .inquiry-classification,
    #member-search .searching-result .rank,
    #member-search .searching-result .standard-member-name {
        margin-right: 25px;
    }


    #member-search .searching-result .rank,
    #member-search .searching-result .standard-member-name {
        width: calc(25% - 22.5px);
    }
}






@media all and (min-width: 992px) {
    #member-search .searching-result .searching-form .submit-btn {
        min-width: 150px;
    }
}













@media all and (max-width: 575px) {
    #member-search .searching-result .searching-form .criteria-classification {
        margin-bottom: 15px;
    }

}

@media all and (min-width: 576px) and (max-width: 767px) {
    #member-search .searching-result .searching-form .criteria-classification {
        margin-bottom: 12.5px;
    }
}


@media all and (min-width: 768px) and (max-width: 991px) {
    #member-search .searching-result .searching-form .criteria-classification {
        margin-bottom: 15px;
    }

    #member-search .searching-result .searching-form .criteria-classification .label {
        margin-right: 15px;
    }

}

@media all and (min-width: 575px) and (max-width: 991px) {
    #member-search .popup-body .searching-form .rank {
        margin-bottom: 0;
    }

    #member-search .popup-body .searching-form .info .label {
        width: 50px;

    }
}


@media all and (max-width: 991px) {
    #member-search .searching-result .searching-form .row_2 {
        margin-bottom: 20px;
    }

    #member-search .searching-form .info .label {
        width: 75px;
    }

    #member-search .popup-body .searching-form .info .label {
        margin-right: 5px;
    }


}




















@media all and (max-width: 767px) {
    #member-search .searching-result .searching-form .advanced-search-items.label {
        width: 75px;
    }
}













@media all and (max-width: 767px) {
    #member-search .searching-result .searching-form .submit-btn.advanced {
        width: 100%;
    }



    /* ĐÃ CM */

    /*
	#member-search .searching-result .searching-form .standard-member-name, 
	#member-search .searching-result .searching-form .member-name,
	#member-search .searching-result .searching-form .inquiry-classification,
	#member-search .searching-result .searching-form .rank {
		margin-bottom: 10px;
	}
	*/

    /* ĐÃ CM */



    #member-search .searching-result .searching-form .standard-member-name,
    #member-search .searching-result .searching-form .inquiry-classification {
        padding-right: 0;
    }





    /* ĐÃ CM */
    /*
	#member-search .searching-result .searching-form .member-name,
	#member-search .searching-result .searching-form .rank {
		padding-left: 5px;
	}
	*/
    /* .memCheck{
		display: none;
	} */

    /* ĐÃ CM */




    #box-lineage .searching-result .standard-member-name,
    #box-lineage .searching-result .display-stage,
    #box-lineage .searching-result .rank {
        width: 100%;
    }

    .date-time .borDashed {
        border-right: none;
    }

    .searching-form .memCheck {
        width: 100%;
    }

}


@media all and (min-width: 768px) and (max-width: 991px) {}






@media all and (min-width: 992px) {}














/*------ Member Management ------
		 4. Member Inquiry By Position
---------------------------------*/



@media all and (min-width: 992px) {

    #member-inquiry-by-position .searching-result .date-selects .label,
    #member-inquiry-by-position .searching-result .standard-member-name .label {
        width: 65px;
        margin-right: 10px;
    }
}




#member-inquiry-by-position .searching-result .results .member-list .hr-table {
    position: relative;
}



@media (max-width: 767px) {
    #member-inquiry-by-position .searching-result .searching-form .label {
        width: 75px;
    }
}


@media all and (min-width: 768px) and (max-width: 991px) {

    #member-inquiry-by-position .searching-result .inquiry-classification,
    #member-inquiry-by-position .searching-result .standard-member-name {
        margin-bottom: 15px;
    }


    #member-inquiry-by-position .searching-result .inquiry-classification,
    #member-inquiry-by-position .searching-result .rank,
    #member-inquiry-by-position .searching-result .standard-member-name,
    #member-inquiry-by-position .searching-result .member-name {
        width: calc(50% - 5px);
    }


    #member-inquiry-by-position .searching-result .standard-member-name {
        margin-right: 10px;
    }

    #member-inquiry-by-position .searching-form .submit-btn-wrapper {
        width: 100%;
    }

}





#member-inquiry-by-position .inquiry-classification .dropdown-select {
    min-width: 140px;
}



@media all and (max-width: 575px) {

    #member-inquiry-by-position .searching-result .standard-member-name {
        margin-bottom: 10px;
    }

    .searching-form .form-row,
    .searching-result .searching-form .container {
        box-shadow: none;
    }

    .searching-form .display-stage .info .value {
        padding: 0 5px;
    }

    .searching-form .display-stage .up-btn,
    .searching-result .btns-wrapper .submit-btn {
        margin-right: 0;
    }


    #member-inquiry-by-position .searching-result .searching-form .criteria-classification {
        margin-bottom: 10px;
    }

    #member-inquiry-by-position .searching-form .form-row .info:not(.info-radio, .date-selects, .non-background, .desktop-time-btns) {
        margin-bottom: 12.5px;
    }

}

@media all and (min-width: 576px) and (max-width: 767px) {

    #member-inquiry-by-position .searching-result .inquiry-classification,
    #member-inquiry-by-position .searching-result .standard-member-name {
        margin-bottom: 15px;
    }

    #member-inquiry-by-position .searching-result .searching-form .criteria-classification {
        margin-bottom: 12.5px;
    }

}


@media all and (min-width: 768px) and (max-width: 991px) {}


@media all and (min-width: 992px) {

    #member-inquiry-by-position .searching-result .standard-member-name,
    #member-inquiry-by-position .searching-result .inquiry-classification {
        padding-right: 20px;
    }

    .memnberTab .result-block {
        margin-bottom: 0;
    }

    .memnberTab .pagination {
        justify-content: space-between;
    }

    .searching-result .content-row {
        margin-bottom: 30px;
    }
}







@media all and (min-width: 576px) and (max-width: 991px) {

    #member-inquiry-by-position .searching-result .inquiry-classification,
    #member-inquiry-by-position .searching-result .standard-member-name {
        margin-bottom: 12.5px;
    }

    #member-inquiry-by-position .searching-result .searching-form .criteria-classification {
        margin-bottom: 12.5px;
    }

    .memSearch .searching-form .mobile-time-btns a {
        padding: 0px 20px;
    }

    /* #member-information-inquiry .resultsTab .column{
		width: 100%;
	} */
}


@media all and (min-width: 992px) {
    #member-inquiry-by-position .searching-result .searching-form .submit-btn {
        min-width: 120px;
    }
}





@media all and (max-width: 575px) {
    #member-inquiry-by-position .searching-result .searching-form .form-row:nth-child(2) .label {
        margin-bottom: 5px;
    }
}


@media all and (min-width: 576px) and (max-width: 991px) {
    #member-inquiry-by-position .searching-result .searching-form .form-row:nth-child(2) .label {
        margin-right: 20px;
    }
}


@media all and (min-width: 992px) {
    #member-inquiry-by-position .searching-result .searching-form .form-row:nth-child(2) .label {
        margin-right: 10px;
    }
}



















#member-inquiry-by-position .general-list table,
#member-inquiry-by-position .member-list table {
    text-align: center;
}




@media all and (min-width: 992px) {
    #member-inquiry-by-position .overall .column:first-child {
        width: 32%;
        margin-right: 30px;
    }
}










@media all and (max-width: 575px) {
    #member-inquiry-by-position .searching-result .searching-form .search-info {
        margin-bottom: 15px;
    }

    #member-inquiry-by-position .searching-result .searching-form .search-info:last-child {
        margin-bottom: 0;
    }
}

@media all and (min-width: 576px) and (max-width: 767px) {

    #member-inquiry-by-position .searching-result .searching-form .search-info:nth-child(1),
    #member-inquiry-by-position .searching-result .searching-form .search-info:nth-child(2),
    #member-inquiry-by-position .searching-result .searching-form .search-info:nth-child(3),
    #member-inquiry-by-position .searching-result .searching-form .search-info:nth-child(4) {
        margin-bottom: 15px;
    }

    #member-inquiry-by-position .searching-result .searching-form .search-info:nth-child(1),
    #member-inquiry-by-position .searching-result .searching-form .search-info:nth-child(3) {
        padding-right: 15px;
    }
}



@media all and (min-width: 768px) and (max-width: 991px) {

    #member-inquiry-by-position .searching-result .searching-form .search-info:nth-child(1),
    #member-inquiry-by-position .searching-result .searching-form .search-info:nth-child(2) {
        margin-bottom: 15px;
    }

    #member-inquiry-by-position .searching-result .searching-form .search-info:nth-child(1),
    #member-inquiry-by-position .searching-result .searching-form .search-info:nth-child(3),
    #member-inquiry-by-position .searching-result .searching-form .search-info:nth-child(4) {
        padding-right: 15px;
    }
}

@media all and (min-width: 992px) {

    #member-inquiry-by-position .searching-result .searching-form .search-info:nth-child(1),
    #member-inquiry-by-position .searching-result .searching-form .search-info:nth-child(2) {
        margin-bottom: 20px;
    }

    #member-inquiry-by-position .searching-result .searching-form .search-info:nth-child(1),
    #member-inquiry-by-position .searching-result .searching-form .search-info:nth-child(3),
    #member-inquiry-by-position .searching-result .searching-form .search-info:nth-child(4) {
        padding-right: 20px;
    }
}









/*------ Member Management ------
		 5. Line Lineage
---------------------------------*/




@media all and (min-width: 992px) {

    #line-lineage .searching-result .date-selects .label,
    #line-lineage .searching-result .standard-member-name .label {
        width: 50px;
        margin-right: 10px;
    }
}







/* #line-lineage .section-content .container.results {
	padding-bottom: 0;
}	 */
@media all and (max-width: 767px) {

    #line-lineage .searching-result .criteria-classification {
        margin-bottom: 0;
    }



}




@media all and (min-width: 768px) and (max-width: 991px) {

    #line-lineage .searching-result .inquiry-classification,
    #line-lineage .searching-result .standard-member-name {
        margin-bottom: 15px;
    }


    /* #line-lineage .searching-result .rank, */
    #line-lineage .searching-result .standard-member-name,
    #line-lineage .searching-result .display-stage {
        width: calc(50% - 5px);
    }


    #line-lineage .searching-result .inquiry-classification,
    #line-lineage .searching-result .standard-member-name {
        margin-right: 10px;
    }

    #line-lineage .searching-result .searching-form .label {
        width: 85px;
    }

}



@media all and (min-width: 992px) {}




#line-lineage .section-content .hr-table {
    text-align: center;
}


#line-lineage .section-content .hr-table th:nth-child(2) {
    text-align: left;
}

#line-lineage .section-content .hr-table th:nth-child(8),
#line-lineage .section-content .hr-table th:nth-child(9) {
    text-align: right;
}

/* #line-lineage .section-content .hr-table td, 
#line-lineage .section-content .hr-mobile-table td {
	padding: 10px;
}	


 */



@media all and (min-width: 576px) {

    #line-lineage .result-block {
        margin-bottom: 0;
    }

    /* #line-lineage .section-content .container.results{
		padding-bottom: 0;
	} */
}

@media all and (max-width: 575px) {

    #line-lineage .searching-result .display-stage {
        margin-right: 10px;
    }


    #line-lineage .searching-result .standard-member-name,
    #line-lineage .searching-result .display-stage,
    #line-lineage .searching-result .rank {
        margin-bottom: 10px;
    }



    #line-lineage .searching-result .criteria-classification,
    #line-lineage .searching-result .sub-order-division {
        padding-left: 0;
        margin-bottom: 15px;
    }

    #line-lineage .searching-result .criteria-classification {
        margin-right: 10px;
        width: 100%;
    }

    #line-lineage .searching-result .criteria-classification {
        margin-bottom: 12.5px;
    }


    #line-lineage .searching-result .searching-form .label {
        width: 80px;
    }


    #line-lineage .searching-form {
        margin-bottom: 20px;
    }
}

@media all and (min-width: 576px) and (max-width: 767px) {

    #line-lineage .searching-result .searching-form .label {
        width: 85px;
    }

    #line-lineage .searching-result .sub-order-division {
        margin-top: 0;
    }

    #line-lineage .searching-result .display-stage {
        width: 100%;
    }

}

@media all and (max-width: 991px) {
    #line-lineage .searching-result .display-stage .info {
        border: none;
    }
}

@media all and (min-width: 576px) and (max-width: 991px) {

    #line-lineage .searching-result .standard-member-name,
    #line-lineage .searching-result .display-stage {
        /* #line-lineage .searching-result .rank */
        margin-bottom: 15px;
    }

    #line-lineage .searching-result .advanced-search-items .submit-btn-wrapper {
        width: 100%;
    }


    #line-lineage .searching-result .btns-wrapper .submit-btn,
    #line-lineage .searching-result .btns-wrapper .top-line-btn {
        width: calc(50% - 10px);
    }

    #line-lineage .searching-result .criteria-classification,
    #line-lineage .searching-result .sub-order-division {
        margin-bottom: 12.5px;
    }


    #line-lineage .searching-result .btns-wrapper {
        margin-left: auto;
        margin-right: 0;
        width: 100%;
    }

    #line-lineage .searching-result .sub-order-division {
        padding-left: 0;

    }

    #line-lineage .searching-result .submit-btn-wrapper {
        margin-top: 10px;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    #line-lineage .searching-form .time-btns {
        width: 100%;
    }
}










@media all and (min-width: 992px) {


    #line-lineage .searching-result .display-stage,
    #line-lineage .searching-result .standard-member-name {
        margin-right: 0;
        padding-right: 20px;
    }



}






@media all and (min-width: 992px) {

    #line-lineage .searching-result .criteria-classification .radios-group li,
    #line-lineage .searching-result .sub-order-division .radios-group li {
        display: flex;
        align-items: center;
    }

}







@media all and (max-width: 576px) {

    #line-lineage .searching-result .submit-btn,
    #line-lineage .searching-result .top-line-btn {
        min-width: auto;
    }
}





















/*------ Member Management ------
		 6. Box Lineage
---------------------------------*/



@media all and (min-width: 992px) {

    #box-lineage .searching-result .date-selects .label,
    #box-lineage .searching-result .standard-member-name .label {
        width: 50px;
        margin-right: 10px;
    }
}




#box-lineage .section-content .container.results {
    background: #fff url(../../img/my-office/map.png) no-repeat center;
    padding: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    margin-top: 30px;
}






#box-lineage .searching-result .criteria-classification .radios-group li:not(:last-child) {
    margin-right: 20px;

}

.table-container .col_data {
    background: transparent;
}

@media all and (max-width: 575px) {

    #box-lineage .searching-result .display-stage {
        margin-right: 10px;
    }


    #box-lineage .searching-result .standard-member-name,
    #box-lineage .searching-result .display-stage,
    #box-lineage .searching-result .rank {
        margin-bottom: 10px;
    }



    #box-lineage .searching-result .criteria-classification {
        margin-bottom: 15px;
    }


    #box-lineage .section-content .container.results {
        height: auto;
    }

    .searching-form .form-row .info:last-child {
        border: none;
    }

    #box-lineage .searching-result .searching-form .form-row .info:not(.info-radio, .date-selects, .non-background, .desktop-time-btns) {
        border: none;
    }
}

@media all and (max-width: 767px) {
    #box-lineage .searching-result .searching-form .label {
        width: 75px;
    }

    #box-lineage .searching-form .form-row .info-radio {
        margin-bottom: 12.5px;
    }

    #box-lineage .searching-result .standard-member-name,
    #box-lineage .searching-result .display-stage,
    #box-lineage .searching-result .rank {
        margin-bottom: 12.5px;
    }

}


@media all and (min-width: 576px) and (max-width: 767px) {

    #box-lineage .searching-result .btns-wrapper .submit-btn,
    #box-lineage .searching-result .btns-wrapper .top-line-btn {
        width: calc(50% - 10px);
    }

    #box-lineage .searching-form .form-row .info-radio {
        width: 100%;

    }

}

@media all and (min-width: 576px) and (max-width: 991px) {

    #box-lineage .searching-result .standard-member-name,
    #box-lineage .searching-result .display-stage,
    #box-lineage .searching-result .rank {
        margin-bottom: 15px;
    }

    #box-lineage .searching-result .criteria-classification {
        margin-right: 15px;
    }


    #box-lineage .searching-result .btns-wrapper {
        margin-left: auto;
        margin-right: 0;
    }

    .searching-form .form-row .info:last-child {
        border: none;
    }

    #box-lineage .searching-result .searching-form .form-row .info:not(.info-radio, .date-selects, .non-background, .desktop-time-btns) {
        border: none;
    }

}

@media all and (min-width: 768px) and (max-width: 991px) {
    #box-lineage .searching-form .time-btns {
        margin-top: 10px;
    }

    #box-lineage .searching-result .standard-member-name,
    #box-lineage .searching-result .display-stage {
        width: calc(50% - 5px);
    }

    #box-lineage .searching-result .standard-member-name {
        margin-right: 10px;
    }


}





@media all and (max-width: 991px) {
    #box-lineage .searching-result .inquiry-classification {
        margin-bottom: 15px;
    }

    #box-lineage .searching-result .inquiry-classification .label {
        margin-right: 20px;
    }
}






@media all and (min-width: 992px) {
    #box-lineage .searching-result .standard-member-name {
        padding-right: 20px;
    }

    #box-lineage .searching-result .display-stage,
    #box-lineage .searching-result .rank {
        margin-right: 20px;
    }

    #box-lineage .searching-result .display-stage,
    #box-lineage .searching-result .rank,
    #box-lineage .searching-result .criteria-classification {
        margin-right: 20px;
    }

    #box-lineage .table-container {
        padding: 30px 0;
    }


    #box-lineage .searching-result .display-stage,
    #box-lineage .searching-result .rank {
        margin-right: 20px;
    }

    /* #box-lineage .searching-result .submit-btn {
		min-width: 70px;
	}
	#box-lineage .searching-result .top-line-btn {
		min-width: 150px;
	} */
}

#box-lineage .btns-wrapper .top-line-btn,
#line-lineage .btns-wrapper .top-line-btn {
    align-items: center;
    display: flex;
}

















/*-------- Box Graph --------*/

#box-lineage .box-graph .node {
    position: relative;
}


#box-lineage .box-graph .node .content {
    align-items: center;
    justify-content: center;
    min-height: 120px;
    position: relative;
}

#box-lineage .dashed {
    background-size: 5px 1px, 1px 5px;
}

#box-lineage .box-graph .spacing {
    width: 10%;
}


#box-lineage .row.main {
    justify-content: center;
}

#box-lineage .row.main .node {
    min-width: 240px;
}


#box-lineage .node ul li {
    display: block;
    text-align: center;
}


#box-lineage .node ul {
    padding: 15px 0;
    margin-bottom: 5px;
}

#box-lineage .node .name {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#box-lineage .under .node .name {
    padding: 10px 0;
}

#box-lineage .main .node .name {
    padding: 12.5px 0;
}


#box-lineage .node .content {
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
}







@media all and (max-width: 575px) {

    #box-lineage .row.main {
        padding-bottom: 40px;
        position: relative;
    }

    #box-lineage .row.main:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 40px;
        background: linear-gradient(#000 50%, rgba(255, 255, 255, 0) 0%);
        background-position: top, right;
        background-size: 1px 5px;
    }



    #box-lineage .row.under .node {
        width: 50%;
        margin-bottom: 30px;
    }

    #box-lineage .row.under .node:nth-child(1),
    #box-lineage .row.under .node:nth-child(3) {
        padding-right: 10%;
    }

    #box-lineage .row.under .node:nth-child(2),
    #box-lineage .row.under .node:nth-child(4) {
        padding-left: 10%;
    }




    /*------ Left Node Dashed Line -------*/

    #box-lineage .row.under .node:nth-child(1) .dashed,
    #box-lineage .row.under .node:nth-child(3) .dashed {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 20%;
        height: 1px;
    }



    /*------ Right Node Dashed Line -------*/

    #box-lineage .row.under .node:nth-child(2) .dashed,
    #box-lineage .row.under .node:nth-child(4) .dashed {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 20%;
        height: 1px;
    }





    /*------ Circle --------*/

    #box-lineage .row.under .node:nth-child(1) .dashed:after,
    #box-lineage .row.under .node:nth-child(3) .dashed:after {
        content: "";
        position: absolute;
        right: -4px;
        top: 50%;
        transform: translateY(-50%);
        width: 9px;
        height: 9px;
        background: #000;
        border-radius: 10px;
    }



    /*------ Node Triangle Point | Left --------*/

    #box-lineage .row.under .node:nth-child(1) .content:before,
    #box-lineage .row.under .node:nth-child(3) .content:before {
        content: "";
        position: absolute;
        right: -4px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #000;
    }


    /*------ Node Triangle Point | Right --------*/

    #box-lineage .row.under .node:nth-child(2) .content:before,
    #box-lineage .row.under .node:nth-child(4) .content:before {
        content: "";
        position: absolute;
        left: -4px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-right: 4px solid #000;
    }



    /*-------- Middle Line ---------*/

    #box-lineage .row.under .node:nth-child(1):after,
    #box-lineage .row.under .node:nth-child(3):after {
        content: "";
        position: absolute;
        width: 1px;
        height: calc(100% + 30px);
        top: -30px;
        right: 0;
        background: #000;
        background: linear-gradient(#000 50%, rgba(255, 255, 255, 0) 0%);
        background-position: top, right;
        background-size: 2px 5px;
    }


    #box-lineage .box-graph .row.under:last-child .node:last-child:not(:nth-child(2n)):after {
        height: calc(50% + 30px) !important;
    }

    #box-lineage .box-graph .row.under:last-child .node:nth-last-child(2):not(:nth-child(2n)):after {
        height: calc(50% + 30px) !important;
    }

}















@media all and (min-width: 576px) {
    #box-lineage .row.under .node {
        width: 20%;
    }

    #box-lineage .row.under .node:nth-child(1),
    #box-lineage .row.under .node:nth-child(3) {
        margin-right: 5%;
    }

    #box-lineage .row.under .node:nth-child(2) {
        margin-right: 10%;
    }

    #box-lineage .row.under .node:nth-child(2) {
        margin-right: 10%;
    }



    #box-lineage .row.under {
        padding: 50px 0;
        position: relative;
    }

    #box-lineage .row.main {
        padding-bottom: 50px;
        position: relative;
    }


    #box-lineage .row.main:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 50px;
        background: linear-gradient(#000 50%, rgba(255, 255, 255, 0) 0%);
        background-position: top, right;
        background-size: 1px 5px;
    }







    /*------ Horizontal Line ------*/
    #box-lineage .row.under:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 1px;
        background: linear-gradient(to right, #000 50%, rgba(255, 255, 255, 0) 0%);
        background-position: top, right;
        background-size: 5px 1px;
    }




    /*------ Vertical Line ------*/

    #box-lineage .row.under:not(:last-child):after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 100%;
        background: linear-gradient(#000 50%, rgba(255, 255, 255, 0) 0%);
        background-position: top, right;
        background-size: 1px 5px;
    }





    /*------ Circle ------*/

    #box-lineage .row.under .nodes-wrapper:before {
        content: "";
        position: absolute;
        top: -4px;
        left: 50%;
        transform: translateX(-50%);
        width: 8px;
        height: 8px;
        border-radius: 10px;
        background: #000;
    }




    /*------ Node Top Triangle Point ------*/

    #box-lineage .row.under .node .content:before {
        content: "";
        position: absolute;
        top: -4px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid #000;
    }


    /*------ Node Top Line ------*/

    #box-lineage .row.under .node .dashed {
        content: "";
        position: absolute;
        width: 1px;
        height: 50px;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        background: #000;
        background: linear-gradient(#000 50%, rgba(255, 255, 255, 0) 0%);
        background-position: top, right;
        background-size: 2px 5px;
    }

}
























@media all and (max-width: 575px) {}


@media all and (min-width: 576px) and (max-width: 767px) {}


@media all and (min-width: 768px) and (max-width: 991px) {}


@media all and (min-width: 992px) {}








/* ------member-by-leg-------- */


#line-lineage .searching-result .office-block h4 {
    margin-bottom: 20px;
}


#line-lineage .searching-result .line-b.none {
    margin-right: 0;
}

@media all and (min-width: 992px) {
    #line-lineage .searching-result .rank {
        margin-right: 0;

    }

    #line-lineage .searching-result .mem-leg .rank {
        padding-right: 20px;

    }

    #line-lineage .searching-result .office-block.line-a {
        width: calc(50% - 20px);
        margin-right: 20px;
    }
}


@media all and (max-width: 575px) {
    #line-lineage .searching-result .office-block {
        width: 100%;
    }
}

@media all and (min-width: 576px) and (max-width: 991px) {
    #line-lineage .searching-result .office-block {
        width: 100%;
    }
}

@media all and (min-width: 767px) and (max-width: 991px) {
    #line-lineage .result-block {
        width: 100%;
    }
}










/*------ Member Management ------
		 7. Affiliate Member Analysis
---------------------------------*/

@media all and (min-width: 992px) {
    #affiliate-member-analysis .section-content .container {
        padding: 0;
    }
}




#affiliate-member-analysis .position-chart .hr-chart ul li {
    display: block;
    width: calc(100%/9);
}



#affiliate-member-analysis .section-content table {
    text-align: center;
    font-size: 14px;
}






#affiliate-member-analysis .combination-table .table-wrapper {
    min-width: 640px;
}








@media all and (max-width: 575px) {
    #affiliate-member-analysis .section-content .result-block {
        margin-bottom: 40px;
    }
}


@media all and (min-width: 576px) and (max-width: 767px) {
    #affiliate-member-analysis .section-content .result-block {
        margin-bottom: 0px;
        margin-top: 0;
    }

    #affiliate-member-analysis .section-content .result-block.monthly-subscriber-acquisition {
        margin-top: 30px;
    }
}


@media all and (min-width: 768px) and (max-width: 991px) {
    #affiliate-member-analysis .section-content .result-block {
        margin-bottom: 50px;
    }

    .searching-form .date-select {
        width: 47%;
    }

    #affiliate-member-analysis .section-content .combination-table,
    #affiliate-member-analysis .section-content .age-chart {
        width: 100%;
    }
}


@media all and (min-width: 992px) {
    #affiliate-member-analysis .section-content .result-block.monthly-subscriber-acquisition {
        margin-top: 30px;
    }
}





#affiliate-member-analysis .monthly-subscriber-acquisition .table-container .col_data .table-wrapper {
    min-width: 640px;
}

.no_use {
    color: red;
    text-decoration: line-through;
}

.no_use a {
    color: red !important;
}

.node3110 {
    color: white;
}

.node3110 a {
    color: white !important;
}


