<div id="story" class="main-body">
							
    <div class="bgr">
        <div class="element-top">
            <img src="../../assets/img/home/leaf1.svg">
        </div>

        <div class="row content">
            <div class="col-7 text-content">
                <h2 class="h-large">이달의 스토리</h2>
                <p class="h-small">아인셀 이달의 스토리</p>
                <p>결심보다는 결단을! 리더십은 인기가 아니라 성과다! 편안하면서 존경받는 삶은 없다! </p>
                <h3 class="h-medium bold-text">'NATIONAL DIRECTOR' 송현화 사장님 </h3>
                <p class="text-p">1. mlm을 시작한계기 - 정확히 10년전 저는 어린나이에 아이가 둘이 있는 평범하지도 못하고 가난해서 3job을 가지고 있는 주부였습니다. 
                    우연치 않은 계기에 돈을 벌수 있는 도구가 될 수 있다는 이야기를 들었고 그냥 아무런 지식도 없이 간절함 하나로 네트워크마케팅을 시작했습니다. 
                    원리도 구조도 모르는 채로 3개월만에 최고 직급을 도달하게 되었고 어려웠던 경제적 상황을 해결하게 되었습니다. 
                    너무 큰 비전을 너무 준비되어 있지 않은 상황에서 보다 보니 무너지기도 했었고 다시 하나씩 일으키기도하면서 첫사랑을 지독하게 경험했죠~^^ 
                    유튜브에 그 첫번째 회사에서 했던 성공스토리는 조회수가 20만건이 되더라구요 지금도!!ㅎㅎ 2.
                     개인적인 목표 꿈 - 가장 큰 목표는 한국과 글로벌 비지니스를 ..</p>
                 <a routerLink="/business/story-details" class="col-auto w-btn primary-btn medium-btn">
                        <span>더보기</span></a>
                <!-- </a> -->
            </div>

            <div class="col-5 img-story">
                <img src="../../assets/img/home/business/story.png" alt="">

            </div>
        

        </div>
        
        <div class="element">
                <img src="../../assets/img/home/leaf2.svg">
        </div>

    </div>
    
</div>