<div id="benefit-analysis" class="office-page">

	<!-- Main Header -->
	<div th:replace="fragments/inc-header" id="inc-header"></div>
	<!-- End Header -->


	<!-- Main Content -->
	<main>
		<input id="sel-id" type="hidden" value="" />
		<section class="section-content">

			<div class="container office-block">
				<div class="calendar">
					<div class="calendar-header">
						<div class="nav-btn prev" id='minusbtn' (click)="onMinusbtn();">
							<svg width="30" height="30" viewBox="0 0 30 30">
								<path d="M19.1008 24.3996L9.80078 14.9996L19.1008 5.59961L19.9008 6.39961L11.2008 14.9996L19.9008 23.5996L19.1008 24.3996Z" fill="#000" /></svg>
						</div>
						<div class="date h-xlarge">
							<span id="year">{{year}}</span>
						</div>
						<div class="nav-btn next" id='plusbtn' (click)="onPlusbtn();">
							<svg width="30" height="30" viewBox="0 0 30 30">
								<path d="M10.5008 24.3996L19.9008 14.9996L10.5008 5.59961L9.80078 6.39961L18.4008 14.9996L9.80078 23.5996L10.5008 24.3996Z" fill="#000" /></svg>
						</div>
					</div>
				</div>


				<div class="results">
					<p>
						<span th:text="#{benefit.analysis.lbl.001}">※수당분석은 지급일자 기준입니다.</span>
						<br>
						<span class="text-primary" th:text="#{benefit.analysis.lbl.002}">※ 주민등록번호 정보가 없는 경우, 발생된 수당이 지급되지 않을 수 있습니다.</span>
					</p>


					<div class="benefit-amount">
						<h2 class="h-small" th:text="#{benefit.analysis.lbl.003}">수당비율(%) 및 금액</h2>
						
						<div class="chart circle-chart desktop">
							<div id="chart1">
								<google-chart #chart  
								[type]="type"  
								[data]="dataChart1"  
								[options]="optionsChart">  
								</google-chart> 
							</div>
						</div>						

					 	<div class="chart circle-chart mobile">
							<div id="chart1">
								<google-chart #chart  
								[type]="type"  
								[data]="dataChart1"  
								[options]="optionsChartMoblie">  
								</google-chart> 
                            </div>
						</div>

						
						<div class="chart hr-chart" id="chart2">
							<ul class="row value-row">
								<li class="col" *ngFor="let item of dataChart2; let indexOfelement = index;">
									<div class="value"><span>{{ item.totalAmt | setComma}}원</span></div>
									<span class="bar" [ngStyle] = "{'height.px': getHeigthOfElement(item.totalAmt, '2')}"></span>
								</li>
								<div class="hr-lines">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</ul>		
											
							<ul class="row label-row">
								<li class="col"  *ngFor="let item of dataChart2">{{ item.payName}}</li>
							</ul>
						</div>

					</div>

					<div class="monthly-performance-table searching-result" id="grid_1">

						<div class="table-container row draggable-element">
							<div class="col col_data draggable-items-wrapper">
								<div class="table-wrapper">
									<table class="hr-table">
										<thead>
											<tr>
												<td *ngFor="let items of tiltePayNew" class="label-table">{{items.payName}}</td>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let item of collection">
												<td>{{ item.giveDate }}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 1">{{ item.amt1 ? (item.amt1 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 2">{{ item.amt2 ? (item.amt2 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 3">{{ item.amt3 ? (item.amt3 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 4">{{ item.amt4 ? (item.amt4 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 5">{{ item.amt5 ? (item.amt5 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 6">{{ item.amt6 ? (item.amt6 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 7">{{ item.amt7 ? (item.amt7 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 8">{{ item.amt8 ? (item.amt8 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 9">{{ item.amt9 ? (item.amt9 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 10">{{ item.amt10 ? (item.amt10 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 11">{{ item.amt11 ? (item.amt11 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 12">{{ item.amt12 ? (item.amt12 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 13">{{ item.amt13 ? (item.amt13 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 14">{{ item.amt14 ? (item.amt14 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 15">{{ item.amt15 ? (item.amt15 | setComma) + '원' : "0원"}}</td>
												<td class="textRight">{{ item.totalAmt ? (item.totalAmt | setComma) + '원' : "0원"}}</td>
											</tr>
										</tbody>

										<ng-container *ngIf="totalRows < 5">
											<tbody>
											  <tr *ngFor="let row of rows; index as i">
												<ng-container *ngFor="let col of cols; index as j">
												  <td>
													<span>&nbsp;</span>
													<ng-container *ngIf="totalRows === 0 && i === 2 && j === floorTotalCols">
													  <span class='h-small empty-warning'>조회된 데이타가 없습니다.</span>
													</ng-container>
												  </td>
												</ng-container>
											  </tr>
											</tbody>
										  </ng-container>

										<tfoot>
											<tr *ngIf="benefitAnalysisSumItem$ | async as item">
												<td class="label-table">[합계]</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 1">{{ item.amt1 ? (item.amt1 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 2">{{ item.amt2 ? (item.amt2 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 3">{{ item.amt3 ? (item.amt3 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 4">{{ item.amt4 ? (item.amt4 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 5">{{ item.amt5 ? (item.amt5 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 6">{{ item.amt6 ? (item.amt6 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 7">{{ item.amt7 ? (item.amt7 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 8">{{ item.amt8 ? (item.amt8 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 9">{{ item.amt9 ? (item.amt9 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 10">{{ item.amt10 ? (item.amt10 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 11">{{ item.amt11 ? (item.amt11 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 12">{{ item.amt12 ? (item.amt12 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 13">{{ item.amt13 ? (item.amt13 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 14">{{ item.amt14 ? (item.amt14 | setComma) + '원' : "0원"}}</td>
												<td class="textRight" *ngIf="lengthTitleResult >= 15">{{ item.amt15 ? (item.amt15 | setComma) + '원' : "0원"}}</td>
												<td class="textRight">{{ item.totalAmt ? (item.totalAmt | setComma) + '원' : "0원"}}</td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>


						<table class="hr-mobile-table">
							<tbody *ngFor="let item of collection">
								<tr>
								  <td>{{tiltePayNew[0].payName}}</td>
								  <td>{{ item.giveDate }}</td>
								</tr>

								<tr *ngIf="lengthTitleResult >= 1">
									<td>{{tiltePayNew[1].payName}}</td>
									<td>{{ item.amt1 ? (item.amt1 | setComma) + '원' : "0원"}}</td>
								</tr>

								<tr *ngIf="lengthTitleResult >= 2">
									<td>{{tiltePayNew[2].payName}}</td>
									<td>{{ item.amt2 ? (item.amt2 | setComma) + '원' : "0원"}}</td>
								</tr>

								<tr *ngIf="lengthTitleResult >= 3">
									<td>{{tiltePayNew[3].payName}}</td>
									<td>{{ item.amt3 ? (item.amt3 | setComma) + '원' : "0원"}}</td>
								</tr>

								<tr *ngIf="lengthTitleResult >= 4">
									<td>{{tiltePayNew[4].payName}}</td>
									<td>{{ item.amt4 ? (item.amt4 | setComma) + '원' : "0원"}}</td>
								</tr>

								<tr *ngIf="lengthTitleResult >= 5">
									<td>{{tiltePayNew[5].payName}}</td>
									<td>{{ item.amt5 ? (item.amt5 | setComma) + '원' : "0원"}}</td>
								</tr>

								<tr *ngIf="lengthTitleResult >= 6">
									<td>{{tiltePayNew[6].payName}}</td>
									<td>{{ item.amt6 ? (item.amt6 | setComma) + '원' : "0원"}}</td>
								</tr>

								<tr *ngIf="lengthTitleResult >= 7">
									<td>{{tiltePayNew[7].payName}}</td>
									<td>{{ item.amt7 ? (item.amt7 | setComma) + '원' : "0원"}}</td>
								</tr>

								<tr *ngIf="lengthTitleResult >= 8">
									<td>{{tiltePayNew[8].payName}}</td>
									<td>{{ item.amt8 ? (item.amt8 | setComma) + '원' : "0원"}}</td>
								</tr>

								<tr *ngIf="lengthTitleResult >= 9">
									<td>{{tiltePayNew[9].payName}}</td>
									<td>{{ item.amt9 ? (item.amt9 | setComma) + '원' : "0원"}}</td>
								</tr>

								<tr *ngIf="lengthTitleResult >= 10">
									<td>{{tiltePayNew[10].payName}}</td>
									<td>{{ item.amt10 ? (item.amt10 | setComma) + '원' : "0원"}}</td>
								</tr>

								<tr *ngIf="lengthTitleResult >= 11">
									<td>{{tiltePayNew[11].payName}}</td>
									<td>{{ item.amt11 ? (item.amt11 | setComma) + '원' : "0원"}}</td>
								</tr>

								<tr *ngIf="lengthTitleResult >= 12">
									<td>{{tiltePayNew[12].payName}}</td>
									<td>{{ item.amt12 ? (item.amt12 | setComma) + '원' : "0원"}}</td>
								</tr>

								<tr *ngIf="lengthTitleResult >= 13">
									<td>{{tiltePayNew[13].payName}}</td>
									<td>{{ item.amt13 ? (item.amt13 | setComma) + '원' : "0원"}}</td>
								</tr>

								<tr *ngIf="lengthTitleResult >= 14">
									<td>{{tiltePayNew[14].payName}}</td>
									<td>{{ item.amt14 ? (item.amt14 | setComma) + '원' : "0원"}}</td>
								</tr>

								<tr *ngIf="lengthTitleResult >= 15">
									<td>{{tiltePayNew[15].payName}}</td>
									<td>{{ item.amt15 ? (item.amt15 | setComma) + '원' : "0원"}}</td>
								</tr>

								<tr>
									<td>{{tiltePayNew[tiltePayNew.length -1].payName}}</td>
									<td>{{ item.totalAmt ? (item.totalAmt | setComma) + '원' : "0원"}}</td>
								  </tr>
							
							  </tbody>
							  <grid-no-data-mobile [items]="collection"></grid-no-data-mobile>
						</table>
					</div>


					<div class="monthly-performance">

						<div class="chart hr-chart" id="chart3">
							<ul class="row value-row">
								<li class="col" *ngFor="let item of dataChart3; let indexOfelement = index;">
									<div class="value"><span>{{ item.totalAmt | setComma}}원</span></div>
									<span class="bar" [ngStyle] = "{'height.px': getHeigthOfElement(item.totalAmt, '3')}"></span>
								</li>
								<div class="hr-lines">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</ul>		
											
							<ul class="row label-row">
								<li class="col"  *ngFor="let item of dataChart3">{{ item.regdate}}</li>
							</ul>
						</div>
						
					</div>

				</div>
				
				
			</div>
		</section>
	</main>

	<!------------- Footer ------------->
	<div th:replace="fragments/inc-footer" id="inc-footer"></div>
	<!--------------------------------->
</div>