<div class="main-body">
    <div class="title">
        <h2 class="h-large">GLOBAL NETWORK <strong class="title-color">AINCELL</strong></h2>
    <p>아인셀는 매년 경이로운 성장을 이어가며 <strong> 전 세계 15개국</strong>에 글로벌 네트워크 사업을 구축하고 세계적인 입지를 확보하고 있습니다.
        빠르게 진화하는 글로벌 시장에서 선두 기업으로 나아가기 위한 여정에 함께 하기실 바랍니다.</p>
    </div>
    <div class="global">
        <img src="../../../../assets/img/home/global.svg" alt="">
    </div>
    



    <div class="flag-icon">
        <div class="row flag">
            <img src="../../assets/img/flag/russia.svg" alt="">
            <p>러시아</p>
        </div>

        <div class="row flag">
            <img src="../../assets/img/flag/canada.svg" alt="">
            <p>캐나다</p>
        </div>

        <div class="row flag">
            <img src="../../assets/img/flag/usa.svg" alt="">
            <p>미국</p>
        </div>

        <div class="row flag">
            <img src="../../assets/img/flag/ukraine.svg" alt="">
            <p>우크라이나</p>
        </div>

        <div class="row flag">
            <img src="../../assets/img/flag/romania.svg" alt="">
            <p>루마니아</p>
        </div>

        <div class="row flag">
            <img src="../../assets/img/flag/moldova.svg" alt="">
            <p>몰도바</p>
        </div>

        <div class="row flag">
            <img src="../../assets/img/flag/turkey.svg" alt="">
            <p>터키</p>
        </div>

        <div class="row flag">
            <img src="../../assets/img/flag/cyprus.svg" alt="">
            <p>사이프러스</p>
        </div>

        <div class="row flag">
            <img src="../../assets/img/flag/kyrgyzstan.svg" alt="">
            <p>키르기스스탄</p>
        </div>

        <div class="row flag">
            <img src="../../assets/img/flag/tajikistan.svg" alt="">
            <p>타지키스탄</p>
        </div>

        <div class="row flag">
            <img src="../../assets/img/flag/uzbekistan.svg" alt="">
            <p>우즈베키스탄</p>
        </div>

        <div class="row flag">
            <img src="../../assets/img/flag/kazakhstan.svg" alt="">
            <p>카자흐스탄</p>
        </div>

        <div class="row flag">
            <img src="../../assets/img/flag/belarus.svg" alt="">
            <p>벨라루스</p>
        </div>

        <div class="row flag">
            <img src="../../assets/img/flag/germany.svg" alt="">
            <p>독일</p>
        </div>
        <div class="row flag">
            <img src="../../../../assets/img/flag/korea.svg" alt="">
            <p>코리아 </p>
        </div>

    </div>

</div>