<div id="autoship-registration" class="office-page" [formGroup]="adoForm">
    <reg-product-list 
        [isPv1]="isPv1" 
        [isPv2]="isPv2" 
        [isPv3]="isPv3" 
        [isPoint]="isPoint" 
        [smWownet]="smWownet"
        [smWowWord]="smWowWord"
        (addToCart)="handleOnAddToCart($event)"
    ></reg-product-list>

    <reg-cart 
        [isPv1]="isPv1" 
        [isPv2]="isPv2" 
        [isPv3]="isPv3" 
        [isPoint]="isPoint" 
        [smWowWord]="smWowWord" 
        [items]="cartItems" 
        (removeItem)="handleOnRemoveItem($event)"
    ></reg-cart>

    <reg-payment-amount 
        [isPv1]="isPv1" 
        [isPv2]="isPv2" 
        [isPv3]="isPv3" 
        [isPoint]="isPoint" 
        [smWowWord]="smWowWord"
        [items]="cartItems"
        (patchPaymentAmount)="handleOnPatchPaymentAmount($event);"
    ></reg-payment-amount>

    <section id="shipping-payment">
        <div class="container mobile-container">
            <div class="row">
                <div class="col-lg office-block mobile-block shipping-information">
                    <reg-shipping-info (toggleZipPopup)="handleOnClickToggleZipPopup($event);"></reg-shipping-info>
                </div>

                <div class="col-lg office-block mobile-block payment-information">
                    <reg-card-info></reg-card-info>
                </div>
            </div>

            <div class="agreements">
                <div class="info info-check-all">
                    <div class="info-heading row">
            
                        <div class="w-checkbox square row">
                            <input class="col-auto" type="checkbox" id="agreementCheck1">
                            <label class="col row" for="agreementCheck1">
                                <div class="col-auto icon">
                                    <svg viewBox="0 0 30 30">
                                        <path
                                            d="M22.0395 8L13.7659 16.9868L8.6127 13.8318L7 15.2691L13.9413 22L22.986 8.74857L22.0395 8Z">
                                        </path>
                                    </svg>
                                </div>
                                <span class="col">위 주문으로 인해 상기 신용카드가 이용됨을 인지하고, 거래에 대해 결제에 동의합니다.</span>
                            </label>
                        </div>
            
                        <div class="w-checkbox square row">
                            <input class="col-auto" type="checkbox" id="agreementCheck2">
                            <label class="col row" for="agreementCheck2">
                                <div class="col-auto icon">
                                    <svg viewBox="0 0 30 30">
                                        <path
                                            d="M22.0395 8L13.7659 16.9868L8.6127 13.8318L7 15.2691L13.9413 22L22.986 8.74857L22.0395 8Z">
                                        </path>
                                    </svg>
                                </div>
                                <span class="col">본인(신용카드 소유주)은 위 주문에 대해 본인이 작성하였음을 인정하며, 주문 결제로 인한 신용카드 결제금액과
                                    관련하여(주)스테미코리아의 최종적인 구매자임을 인지합니다.</span>
                            </label>
                        </div>
            
                        <div class="w-checkbox square row">
                            <input class="col-auto" type="checkbox" id="agreementCheck3">
                            <label class="col row" for="agreementCheck3">
                                <div class="col-auto icon">
                                    <svg viewBox="0 0 30 30">
                                        <path
                                            d="M22.0395 8L13.7659 16.9868L8.6127 13.8318L7 15.2691L13.9413 22L22.986 8.74857L22.0395 8Z">
                                        </path>
                                    </svg>
                                </div>
                                <span class="col">본인(신용카드 소유주)은 본 주문의 신용카드 결제 관하여 대리인에게 신용카드 사용을 위임하였음을 확약합니다. 이로 인해
                                    발생되는 모든 법적인 책임은 본인(신용카드 소유주)에게 있음을 동의합니다.</span>
                            </label>
                        </div>
            
                        <div class="w-checkbox square row">
                            <input class="col-auto" type="checkbox" id="agreementCheckAll">
                            <label class="col row" for="agreementCheckAll">
                                <div class="col-auto icon">
                                    <svg viewBox="0 0 30 30">
                                        <path
                                            d="M22.0395 8L13.7659 16.9868L8.6127 13.8318L7 15.2691L13.9413 22L22.986 8.74857L22.0395 8Z">
                                        </path>
                                    </svg>
                                </div>
                                <span class="col">전체 동의 하기</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row group-btns">
                    <a class="col-auto w-btn primary-btn medium-btn" (click)="handleOnClickRegister();">
                        <span>오토십 등록</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

</div>

<section class="popups-container">
    <zip-popup 
        [showZip]="showZipPopup" 
        [post]="searchPost" 
        (clickCloseZipPopup)="handleOnClickToggleZipPopup($event);"
        (onclickRowZipPopup)="handleOnClickRowZipPopup($event);"
    ></zip-popup>
</section>