<!-- Main Content -->
<div id="help-center">

    <div class="heading-bg">
        <h2 class="h-small col">새로운 소식을 알려드립니다.</h2>
        <div class="search col-auto">
            <input id="search-key" name="key" type="text" placeholder="검색어를 입력하세요." [(ngModel)]="searchKey">
            <div class="w-btn btn-search-open" (click)="onClickSearch()">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path
                        d="M19.5 19.5L24 24M21.4286 13.7143C21.4286 17.9748 17.9748 21.4286 13.7143 21.4286C9.4538 21.4286 6 17.9748 6 13.7143C6 9.4538 9.4538 6 13.7143 6C17.9748 6 21.4286 9.4538 21.4286 13.7143Z"
                        stroke="#2A2E46" stroke-width="1.6" stroke-linecap="round">
                    </path>
                </svg>
            </div>
        </div>
    </div>

    <div class="main-body">

        <div class="content-row">
            <div class="notice-grid">
                <table class="notices">
                    <thead>
                        <tr>
                            <th style="width: 8%">번호</th>
                            <th class="text-start" style="width: 64%">제목</th>
                            <th style="width: 8%">글쓴이</th>
                            <th style="width: 8%">조회</th>
                            <th style="width: 12%">등록일자</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of collection2;let i = index">
                            <td style="text-align: center;">
                                <span
                                    style="color: #ffffff; font-size: 12px; border-radius: 2.5px; padding: 7px 10px; background-color:#EF4C37;">Notice</span>
                            </td>
                            <td class="post-title" type="notice" index="i" style="cursor: pointer;"
                                (click)="handleOnClickBoardNo(item.boardNo)">{{item.title}}</td>
                            <td>{{ item.insUser }}</td>
                            <td style="text-align: center;">{{item.readCnt}}</td>
                            <td style="text-align: center;">{{item.insDate}}</td>
                        </tr>

                        <tr *ngFor="let item of collection | paginate: config ;let i=index">
                            <td style="text-align: center;">{{i+1}}</td>
                            <td class="post-title" (click)="handleOnClickBoardNo(item.boardNo)">{{ item.title }}</td>
                            <td>{{ item.insUser }}</td>
                            <td style="text-align: center;">{{ item.readCnt }}</td>
                            <td style="text-align: center;">{{ item.insDate }}</td>

                        </tr>
                    </tbody>

                    <ng-container *ngIf="totalRows < 5">
                        <tbody>
                            <tr *ngFor="let row of rows; index as i">
                                <ng-container *ngFor="let col of cols; index as j">
                                    <td>
                                        <span>&nbsp;</span>
                                        <ng-container *ngIf="totalRows === 0 && i === 2 && j === floorTotalCols / 2">
                                            <span class='h-small empty-warning'>조회된 데이타가 없습니다.</span>
                                        </ng-container>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </ng-container>

                </table>
            </div>

            <div class="pagination row" style="padding-top: 40px;">
                <div class="col-auto col-md per-page row">
                    <div class="label col-auto"><span>페이지표시</span></div>
                    <select-dropdown class="dropdown-select col row" [options]="options" [selected]="selectedValue"
                        (changeSelectedValue)="handleOnChangeSelectedValue($event);"></select-dropdown>
                </div>
                <paging class="col-auto row paging" [len]="len" [page]="page" [totalItems]="totalItems"
                    [config]="config" (changePage)="handleOnChangePage($event);"></paging>
                <div class="col-auto col-md total">
                    <span class="label">Total</span>
                    <span class="value">{{ noticeTotalItems$ | async }}</span>
                </div>
            </div>

        </div>
    </div>
</div>