.vertical-line {
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 80px;
    position: relative;
    background-color: #000000;
    padding-bottom: 20px;
  }

  .center-content {
    display: flex;
    justify-content: center;
    padding-top: 2%;
  }
  
  .horizontal-line {
    width: 70px;
    height: 3px;
    background-color: #000000;
    display: flex;
    position: absolute;
    left: 28%;
    margin-top: 4.1%;
  }
  
  .center-text {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin: 0;
  }

  @media all and (max-width: 575px) {
    .horizontal-line{
      display: none;
    }
    .center-text {
      font-size: 28px;
      padding-top: 15px;
    }
    .vertical-line {
      height: 60px;
      width: 1px;
    }
  }