
<div id="contact" class="main-body">
    <div class="map" >
        <div id="daumRoughmapContainer1664439306374" class="root_daum_roughmap root_daum_roughmap_landing" style="width: 100%"></div>
        <!-- <img src="../../assets/img/home/image5.png" alt=""> -->
    </div>
    <div class="content">
        <div class="address">
            <div class="contact">
                <p class="col-auto h-small">주소</p>
                <p class="col">{{company.addr}}</p>
            </div>
            <div class="row contact">
                <div class="col-5 contact">
                    <p class="col-auto h-small">전화</p>
                    <p class="col">{{company.tel}}</p>
                </div>

                <div class="col-7 contact">
                    <p class="col-auto h-small">영업시간</p>
                    <p class="col">평일 9:30 - 18:30</p>
                </div>
            </div>
        </div>
        <div class="public">
            <p class="h-medium">대중교통 이용 시</p>
            <div class="row subway">
                <div class="col-5 contact">
                    <p class="col-auto h-small">지하철</p>
                    <p class="col">2호선 삼성역 4번 출구(도보 8분)</p>
                </div>
                <div class="row col-7 number-bus">
                    <p class="col-auto h-small"><strong>버스</strong></p>
                    <div class="col-auto bus">
                        <p class="bus1"><strong>간선</strong>146, 333, 341, 360, N13, N61</p>
                        <p class="bus2"><strong>지선</strong>3425</p>
                        <p class="bus3"><strong>직행, 급행, 광역</strong>1100, 1700, 2000, 2000-1, 7007, 9303, 8001, M6450</p>
                        <p class="bus4"><strong>마을버스강남</strong>07</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

