


<div class="main-body">
    <div class="heading">
        <h2 class="h-large">이달의 스토리</h2>
        <p class="p-span">아인셀 이달의 스토리. 결심보다는 결단을! 리더십은 인기가 아니라 성과다! 편안하면서 존경받는 삶은 없다! </p>
    </div>

    <div class="row intro-content extended">
        <div class="col-md-auto col-img">
            <div class="img-wrapper">
                <img class="portrait" src="../../assets/img/home/51.jpg" alt="">
                <!-- <div class="elements">
                    <div class="element hr-dots">
                        <img src="../../assets/img/home/hr-dots.svg">
                    </div>
                    <div class="element vt-dots">
                        <img src="../../assets/img/home/vt-dots.svg">
                    </div>
                </div> -->
            </div>
            
        </div>
        <div class="col-md col-dscr">
            <div class="short-info row">
                <div class="img-wrapper col-auto col-lg-12">
                    <img src="../../assets/img/home/51.jpg" alt="">
                </div>
                <div class="title col col-lg-12">
                    <h4 class="h-large">송현화 사장님</h4>
                    <span>NATIONAL DIRECTOR</span>
                </div>
            </div>
            
            <div class="story-part">
                <h4 class="h-small">1. mlm을 시작한 계기</h4>
                <p class="p-span">정확히 10년 전 저는 어린 나이에 아이가 둘이 있는 평범하지도 못하고 가난해서 <br> 3job을 가지고 있는 주부였습니다. 우연치 않은 계기에 돈을 벌 수 있는 도구가 될 <br> 수  있다는
                    이야기를 들었고 그냥 아무런 지식도 없이 간절함 하나로 네트워크마케팅을 시작했습니다.</p>
                <p class="p-span">원리도 구조도 모르는 채로 3개월만에 최고 직급을 도달하게 되었고 어려웠던 경제적 상황을 해결하게 되었습니다.</p>
                        
            </div>
            <div class="w-btn extend-btn secondary-btn small-btn">
                <span>더보기</span>
                <div class="icon">
                    <svg viewBox="0 0 13 13" fill="none">
                        <path d="M6.24219 0.242188V12.2422M12.2432 6.24219H0.243164" stroke="#FFF" />
                    </svg>
                </div>
            </div>
        </div> 
        
    </div>

    <div class="extended-content">

        <!-- Part 1 -->
        <div class="story-part part-1">
            <p>너무 큰 비전을 너무 준비되어 있지 않은 상황에서 보다 보니 무너지기도 했었고 다시 하나씩 일으키기도 하면서 첫사랑을 지독하게 경험했죠~^^ 유튜브에 그 첫 번째 회사에서 했던
                성공 스토리는 조회 수가 20만 건이 되더라고요 지금도!!ㅎㅎ</p>  
        </div>

        <!-- Part 2 -->
        <div class="story-part part-2">
            <div class="row">
                <div class="col-sm">
                    <h4 class="h-small">2. 개인적인 목표 꿈</h4>
                    <p class="p-span">가장 큰 목표는 한국과 글로벌 비지니스를 안정화해서 함께 고생한 파트너 분들과 경제적 시간적 자유를 함께 누리고 싶습니다.</p>
                    <p class="p-span">그리고 저는 둘째 아이가 태어난 지 100일째 되는 날 네트워크마케팅을 시작해서 둘째 아이와 함께 보낸 시간이 거의 없습니다.</p>
                    <p class="p-span">시간적인 자유를 빨리 누려서 아이와 함께 여행을 다니고 싶습니다^^</p>
                </div>
                <div class="col-sm">
                    <img src="../../assets/img/home/53.jpg" alt="">
                </div>                
            </div>            
        </div>

        <!-- Part 3 -->
        <div class="story-part part-3">
            <h4 class="h-small">3. 왜 아인셀를 선택하셨는지</h4>
            <p class="p-span">10년이란 시간을 경험하면서 글로벌 회사, 한국 회사, 신생회사, 경험해 보면서 저도 저 나름대로 기준이란 것이 생겼습니다.
            </p>
            <p class="p-span">코로나19가 터지고 세상이 멈췄을 때 생각했습니다.아..인세 소득은 없는 것인가.. <br>
                많은 생각을 하면서 1년이란 시간을 쉬면서 고민하면서 수많은 회사와 기회가 다가왔지만 저의 기준에 모두 부합하는 회사와 기회는 없었습니다. <br>
                어느 날 조그맣고 화려한 색감의 박스가 찾아왔습니다.</p>
            <div class="row">
                <div class="col-sm">
                    <img src="../../assets/img/home/54.jpg" alt="">
                </div>       
                <div class="col-sm">                    
                    
                    <p class="p-span">너무 예뻤고 너무 신박 했고 너무 맛있었고</p>
                    <p class="p-span">    
                        너무 가치 있었지만 라이트 했습니다. <br>
                        건강식품은 꼭 필요한 것이었지만 아프거나 건강에 관심이 있는 사람들에게나 필요로 했지 저처럼 건강하고 젊은이에겐 사치로 느껴지곤 하니까요, 하지만 드롭은 달랐습니다.</p>
                    <p class="p-span">젊은 세대를 아우를 수 있었고 또한 현대인의 컨셉에 맞게 간편했습니다.</p>
                    <p class="p-span">남녀노소 시장성이 크고 넓었으며 <br>
                        무엇보다 너무 예뻤습니다~ <br>                        
                        CEO는 나와 비슷한 또래의 젊고 화려한 퍼포머였으며 선두 했던 시장은 유럽이었습니다. 많은 것들이 다 맞아떨어지면서 내 인생 마지막 회사가 될 수 있겠다 확신이 들었습니다.</p>
                </div>
                         
            </div>            
        </div>

        <!-- Part 4 -->
        <div class="story-part part-4">
            <div class="row">
                <div class="col-sm">                    
                    <h4 class="h-small">4. 팀과 함께하는 나의 리더십은</h4>
                    <p class="p-span">저는 많은 파트너들과 가족이 되고 싶습니다. 때로는 언니처럼 때로는 딸처럼 때로는 손녀처럼 누나처럼 함께하고 싶은 매력 있는 사람이 되고 싶고</p>
                    <p class="p-span">강인하고 카리스마 있는 리더는 될 수 없어도 언제나 함께하고 싶은 사랑하는 사람이 되고 싶습니다. 그래도 우린 함께 웃고 웁니다. 결국 새로운 가족, 진정성이 있는 커뮤니티로써 때로는 내가 끌기도 때로는 내가 끌리기도 하는 서로의 특별한 존재로써 함께 서서 길을 만들고 싶습니다.</p>
                </div>       
                <div class="col-sm">                                        
                    <img src="../../assets/img/home/55.jpg" alt="">
                </div>
                         
            </div>            
        </div>


        <!-- Part 5 -->
        <div class="story-part part-5">
            <div class="row">
                <div class="col-sm">                    
                    <img src="../../assets/img/home/56.jpg" alt="">
                </div>       
                <div class="col-sm">                                       
                    <h4 class="h-small">5. 나의 좌우명</h4>
                    <p class="p-span">결심보다는 결단을! <br>
                        리더십은 인기가 아니라 성과다! <br>                  
                        편안하면서 존경받는 삶은 없다! <br>                 
                        NO PAIN , NO GAIN</p>
                    <p class="p-span">항상 새기고 사는 말들입니다 <br>
                    내가 편안해지고자 할 때 나를 다독이려 생각하고 고통을 즐기려 생각합니다.<br>
                    나의 생각이 말이 되고, 나의 말이 행동이 되고 그 행동이 나의 팀의 운명을 결정하니까요!</p>
                </div>
                         
            </div>            
        </div>

    </div>
</div>









