<div class="row">
    <div class="calendar col-lg mobile-block">
        <div class="office-block result-block">
            <div class="calendar-header">
                <div class="nav-btn prev" (click)="handleOnClickCalendarButton('-')">
                    <svg width="30" height="30" viewBox="0 0 30 30">
                        <path
                            d="M19.1008 24.3996L9.80078 14.9996L19.1008 5.59961L19.9008 6.39961L11.2008 14.9996L19.9008 23.5996L19.1008 24.3996Z"
                            fill="#7A7A7E" />
                    </svg>
                </div>
                <div class="date h-medium">
                    <span>{{ year }}</span>-<span>{{ month }}</span>
                </div>
                <div class="nav-btn next" (click)="handleOnClickCalendarButton('+')">
                    <svg width="30" height="30" viewBox="0 0 30 30">
                        <path
                            d="M10.5008 24.3996L19.9008 14.9996L10.5008 5.59961L9.80078 6.39961L18.4008 14.9996L9.80078 23.5996L10.5008 24.3996Z"
                            fill="#7A7A7E" />
                    </svg>
                </div>
            </div>

            <div class="calendar-body" id='calendar-grid'>
                <table class="calendar-table">
                    <thead>
                        <tr>
                            <th>일<span>요일</span></th>
                            <th>월<span>요일</span></th>
                            <th>화<span>요일</span></th>
                            <th>수<span>요일</span></th>
                            <th>목<span>요일</span></th>
                            <th>금<span>요일</span></th>
                            <th>토<span>요일</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let week of items; index as i">
                            <td *ngFor="let day of week; index as j">
                                <div class="day" [ngClass]="day.class !== '' ? day.class : ''">
                                    <span class="day-number">{{ day.date | setTwoDigitPad }}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p>
            ※ 수당카렌다는 지급일자 기준입니다. <br>
            <span class="text-primary">※ 주민등록번호 정보가 없는 경우, 발생된 수당이 지급되지 않을 수 있습니다.</span>
        </p>
    </div>

    <div class="calendar-detail col-lg-auto mobile-block last none">
        <div class="office-block">
            <table class="calendar-detail-table hr-table" style="display: table;">
                <thead>
                    <tr>
                        <th>구분</th>
                        <th>합계금액</th>
                        <th>소득세</th>
                        <th>실지급액</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of itemsBodyTable">
                        <td>{{item.payDay}}&#160;</td>
                        <td>{{!item.totalAmt ? '' : (item.totalAmt | setComma) + '원'}}</td>
                        <td>{{!item.taxAmt ? '' : (item.taxAmt | setComma) + '원'}}</td>
                        <td>{{!item.trueAmt ? '' : (item.trueAmt | setComma) + '원'}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td style="border: none;">[합계]</td>
                        <td style="border: none;">{{itemsFootterTotalAmt | setComma}}원</td>
                        <td style="border: none;">{{itemsFootterTaxAmt | setComma}}원</td>
                        <td style="border: none;">{{itemsFootterTrueAmt | setComma}}원</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>