/**/





.heading {
    margin-bottom: 30px;
    text-align: center;
}

.heading h2 {
    margin-bottom: 10px;
}




.group-btns a {
    width: calc(50% - 5px);
}

.group-btns a:first-child {
    margin-right: 10px;
}

