<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col-md col-img">
                <img _ngcontent-miv-c83="" src="../../assets/img/203.jpg">
            </div>
            <div class="col-md row col-text">
                <div class="s-font">
                    <h2>
                        <span class="h-large">ABOUT</span>
                        <span>AINCELL</span>
                    </h2>
                    <p>아인셀는 코스메슈티컬 올인원 전문 기업으로<br>
                        제조사 삼성메디코스와 협력하여 피부에 효과적인 천연성분을 기반으로<br>
                        피부 솔루션을 제고하는올인원 전문 화장품 회사 입니다.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="logo-explanation s-font">
    <div class="container">
        <div class="row">
            <div class="col-lg-auto cell"><img src="/assets/img/302.svg" /></div>
            <div class="col-auto plus"><img src="/assets/img/305.svg" /></div>
            <div class="col-lg-auto jeune"><img src="/assets/img/303.svg" /></div>
            <div class="col-auto equal"><img src="/assets/img/306.svg" /></div>
            <div class="col-lg-auto desktop AINCELL"><img src="/assets/img/304.svg" /></div>
            <div class="col-lg-auto mobile AINCELL"><img src="/assets/img/307.svg" /></div>
        </div>
        <h2>BI of AINCELL</h2>
        <p>
            AINCELL 는 '세포'라는 뜻의 cell과 '젊음의'라는 뜻의 불어 'jeune'의 합성어로<br>
            '세포에 젊음을' 이라는 의미를 가지고 피부가 젊음을 유지하고 완벽한 솔루션을 주기 위해
        </p>
    </div>
</div>





<div class="principles s-font">
    <div class="container">
        <div class="row heading">
            <div class="vt-line row"></div>
            <div class="row">
                <div class="hr-line col"></div>
                <h2 class="col-auto">MISSION</h2>
                <div class="col"></div>
            </div>            
        </div>
        <div class="row">
            <div class="col-md principle">
                <img src="/assets/img/204.jpg">
                <h4>
                    소비자의 마음으로<br>
                    제품을 선사하겠습니다.
                </h4>
                <p>
                    화장품의 개발자이자 한명의 소비자로써<br>
                    항상 고객의 입장에서 고객의 니즈를 고민하고<br>
                    피부 맞춤별 최상의 화장품을 제공하여<br>
                    고객만족을 최우선하는<br>
                    차별화된 최상의 제품을 제공하겠습니다.
                </p>
            </div>
            <div class="col-md principle">
                <img src="/assets/img/205.jpg">
                <h4>
                    편견에서 벗어난 스킨케어 솔루션을<br>
                    제안하겠습니다.
                </h4>
                <p>
                    기존의 올인원 제품이 가지고 있는 편견을 깨고<br>
                    최고의 피부 솔루션을 제공하기 위해 지속적인<br>
                    경영을 이어가는 혁신 기업으로<br>
                    더욱 성장해 나아가겠습니다.
                </p>
            </div>
            <div class="col-md principle">
                <img src="/assets/img/206.jpg">
                <h4>
                    효율적인 스킨케어 라이프를 돕겠습니다.
                </h4>
                <p>
                    바쁜 현대사회에 고객님들의 효율적인<br>
                    피부 관리를 위해 정성을 담아 효율적으로<br>
                    하나에 모든걸 담겠습니다.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="partner s-font">
    <div class="container">
        <div class="row">
            <div class="col-text">
                <h2 class="h-large">
                    <span>PARTNER.</span>
                    <span>SAMSUNG MEDICOS</span>
                </h2>
                <p>파트너 제조사 삼성메디코스는 국내 최고의 화장품 전문가들로 구성된 생산 전문 인력과 대량 생산설비가 구축된<br />
                    제약회사 기반의 품질 관리로 고객 니즈를 충족시키는화장품 OEM & ODM 의 최고의 파트너입니다.
                </p>
            </div>
            <div class="col-img">
                <div class="row">
                    <div class="certi">
                        <img src="/assets/img/207.jpg">
                    </div>
                    <div class="certi">
                        <img src="/assets/img/208.jpg">
                    </div>
                    <div class="certi">
                        <img src="/assets/img/209.jpg">
                    </div>
                </div>
            </div>  
        </div>        
    </div>
</div>