<div class="container">

<div class="content-main col-lg">
    <!-- GOKIT -->
    <div class="product-part">
        <!-- <div class="main-heading row">
            <h2 class="h-small col">
                
                <span>고객센터</span>
            </h2>
            
        </div> -->
        <div class="main-body">
            <div class="img-service">
                <img src="/assets/img/home/service-center/service.png">
            </div>

            <div class="row">
                <table class="col-6 table-info">
                    <tr>
                        <th>회사명</th> 
                        <td>아인셀(AINCELL Korea LLC)</td>
                    </tr>
                    <tr>
                        <th>상담전화</th>
                        <td> 02-6387-8210</td>
                    </tr>
                    <tr>
                        <th>팩스</th>
                        <td>02-6387-8221</td>
                    </tr>
                </table>
                <table class="col-6 table-info">
                    <tr>
                        <th>사업장</th>
                        <td>서울특별시 강남구 테헤란로 514, 7층(대치동, 삼흥2빌딩)</td>
                    </tr>
                    <tr>
                        <th>상담가능 시간</th>
                        <td>평일 : 09:30 ~ 18:30 / 주말,공휴일 : 휴무</td>
                    </tr>
                    <tr>
                        <th>상담메일</th>
                        <td>cs@AINCELL.co.kr</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>