<body id="change-password" class="user-profile office-page">
	<div style="display: none;">
		<input type="text" id="sel-id" value="">
		<input type="text" id="birthday" value="">
		<input type="text" id="loginId" value="">
		<input type="text" id="date1" value="">
		<input type="text" id="curpassword" value="">
	</div>

	<div class="container mobile-container">
		<div class="row">
			<app-user-profile class="col-lg-auto profile-info office-block mobile-block"></app-user-profile>

			<div class="col result-block office-block mobile-block last none">
				<div class="col content-info">
					<div class="heading">
						<h2 class="h-medium">변경내역</h2>
					</div>
					<div class="member-form">						
						<div class="form-row row password">
							<div class="label col-sm-3"><span>현재 비밀번호</span></div>
							<div class="input col-sm-6">
								<input [(ngModel)]="passOld" type="password" autocomplete="new-password">
								<span class="warning"> 현재 패스워드를 입력하시기 바랍니다. </span>
							</div>
							<div class="extra col-sm-3"></div>
						</div>

						<div class="form-row row password">
							<div class="label col-sm-3"><span>변경 비밀번호</span></div>
							<div class="input col-sm-6">
								<input type="password" [(ngModel)]="passNew" maxlength="15"
									autocomplete="new-password"> <span class="warning">
									비밀번호는 8~15자리로 입력해주세요.</span>
							</div>
							<div class="extra col-sm-3"></div>
						</div>

						<div class="form-row row password">
							<div class="label col-sm-3"><span>비밀번호 확인</span></div>
							<div class="input col-sm-6">
								<input type="password" [(ngModel)]="rePassword" maxlength="15"
									autocomplete="new-password"> <span class="warning">
									변경할 비밀번호를 다시 한번 입력해 주시기 바랍니다. </span>
							</div>
							<div class="extra col-sm-3"></div>
						</div>
					</div>
					<div class="row group-btns">						
						<a href="javascript:history.back()" class="w-btn dark-btn">이전</a>
                        <a (click)="changePass()" class="w-btn primary-btn">변경</a>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>