<div class="intro s-font">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h2>AINCELL<br/>
                    STORE</h2>
            </div>
            <div class="col-md">
                <h4 class="h-medium">About<br/>
                    OUR AINCELL STORE</h4>
                <p>화장품 대리점과 카페가 접목된 신개념 매장으로<br/>
                    편안하게 커피와 디저트를 즐기면서<br/>
                    화장품을 테스트해보고 구매할 수 있는 매장입니다.
                </p>
                <p>현재 강남구 논현동에 본점을 시작으로<br/>
                    경기도 광주오포점, 대전 우송대점을 오픈하였습니다.
                </p>
                <p>아인셀 매장에서 피부고민 솔루션도 찾고<br/>
                    즐거운 티타임도 즐겨보세요.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="locations s-font">
    <div class="container">
        <div class="location">
            <div class="row">
                <div class="col-info">
                    <h4 class="h-large">강남구 논현동 본점</h4>
                    <p>서울특별시 강남구 봉은사로 11길 6, 1층</p>
                    <div class="gallery cj-gallery">
                        <ul class="w-ul row">
                            <li><a href="/assets/img/210.jpg" target="_blank"><img src="/assets/img/210.jpg" /></a></li>
                            <li><a href="/assets/img/211.jpg" target="_blank"><img src="/assets/img/211.jpg" /></a></li>
                            <li><a href="/assets/img/212.jpg" target="_blank"><img src="/assets/img/212.jpg" /></a></li>
                            <li><a href="/assets/img/213.jpg" target="_blank"><img src="/assets/img/213.jpg" /></a></li>
                            <li><a href="/assets/img/214.jpg" target="_blank"><img src="/assets/img/214.jpg" /></a></li>
                            <li><a href="/assets/img/215.jpg" target="_blank"><img src="/assets/img/215.jpg" /></a></li>
                            <li><a href="/assets/img/216.jpg" target="_blank"><img src="/assets/img/216.jpg" /></a></li>
                            <li><a href="/assets/img/217.jpg" target="_blank"><img src="/assets/img/217.jpg" /></a></li>
                            <li><a href="/assets/img/218.jpg" target="_blank"><img src="/assets/img/218.jpg" /></a></li>
                        </ul>
                    </div>                    
                </div>
                <div class="col-map">
                    <div id="daumRoughmapContainer1664439306374" class="root_daum_roughmap root_daum_roughmap_landing" style="width: 100%"></div>
                </div>
                
            </div>
        </div>
        <div class="location">
            <div class="row">
                
                <div class="col-info">
                    <h4 class="h-large">강남구 논현동 본점</h4>
                    <p>서울특별시 강남구 봉은사로 11길 6, 1층</p>
                    <div class="gallery cj-gallery">
                        <ul class="w-ul row">
                            <li><a href="/assets/img/219.jpg" target="_blank"><img src="/assets/img/219.jpg" /></a></li>
                            <li><a href="/assets/img/220.jpg" target="_blank"><img src="/assets/img/220.jpg" /></a></li>
                            <li><a href="/assets/img/221.jpg" target="_blank"><img src="/assets/img/221.jpg" /></a></li>
                            <li><a href="/assets/img/222.jpg" target="_blank"><img src="/assets/img/222.jpg" /></a></li>
                        </ul>
                    </div>                    
                </div>
                <div class="col-map">
                    <div id="daumRoughmapContainer1675405745190" class="root_daum_roughmap root_daum_roughmap_landing" style="width: 100%"></div>
                </div>
                
            </div>
        </div>
        <div class="location">
            <div class="row">
                
                <div class="col-info">
                    <h4 class="h-large">대전 우송대점</h4>
                    <p>대전광역시 동구 대동 401-21번지, 1층</p>
                    <div class="gallery cj-gallery">
                        <ul class="w-ul row">
                            <li><a href="/assets/img/223.jpg" target="_blank"><img src="/assets/img/223.jpg" /></a></li>
                            <li><a href="/assets/img/224.jpg" target="_blank"><img src="/assets/img/224.jpg" /></a></li>
                            <li><a href="/assets/img/225.jpg" target="_blank"><img src="/assets/img/225.jpg" /></a></li>
                            <li><a href="/assets/img/226.jpg" target="_blank"><img src="/assets/img/226.jpg" /></a></li>
                            <li><a href="/assets/img/227.jpg" target="_blank"><img src="/assets/img/227.jpg" /></a></li>
                            <li><a href="/assets/img/228.jpg" target="_blank"><img src="/assets/img/228.jpg" /></a></li>
                            <li><a href="/assets/img/229.jpg" target="_blank"><img src="/assets/img/229.jpg" /></a></li>
                            <li><a href="/assets/img/230.jpg" target="_blank"><img src="/assets/img/230.jpg" /></a></li>
                        </ul>
                    </div>                    
                </div>
                <div class="col-map">
                    <div id="daumRoughmapContainer1676363252296" class="root_daum_roughmap root_daum_roughmap_landing" style="width: 100%"></div>
                </div>                
            </div>
        </div>
    </div>
</div>


