
<section>
    <div class="container">
        <div class="heading">
            <h2 class="h-xlarge s-font color-orange text-center">AINCELL Flagship</h2>
        </div>
        <div class="content row mainMap">            
            <div class="col-auto item">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.067833601719!2d127.02660651558725!3d37.506318235331584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca3e357b4b2cf%3A0x53cc039104f1a567!2z7ISc7Jq47Yq567OE7IucIOqwleuCqOq1rCDrtInsnYDsgqzroZwxMeq4uCA2!5e0!3m2!1sko!2skr!4v1676277897236!5m2!1sko!2skr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>강남구 논현동 본점</p>
            </div>
            <div class="col-auto item">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3171.0413336292254!2d127.15833201558446!3d37.365198843390104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b57c8d91d25bb%3A0xc3e3d105eb5c975a!2z6rK96riw64-EIOq0keyjvOyLnCDsmKTtj6zsnY0g7Iug7ZiE66asIDM4OQ!5e0!3m2!1sko!2skr!4v1676278018191!5m2!1sko!2skr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>경기도 광주 오포점</p>
            </div>
            <div class="col-auto item">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3214.1101770315177!2d127.44312191556351!3d36.33387950150859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x356548ec952b6a67%3A0x14752a2512f57018!2z64yA7KCE6rSR7Jet7IucIOuPmeq1rCDrjIDrj5kgNDAxLTIx!5e0!3m2!1sko!2skr!4v1676278046338!5m2!1sko!2skr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>대전 우송대점</p>
            </div>
        </div>
    </div>
</section>

<!-- section>
    <div class="container">
        <div class="heading">
            <h2 class="h-xlarge s-font color-orange">Follow Us</h2>
        </div>

        <div class="content row">
            <ul class="row w-ul s-font">
                <li class="col-auto item">
                    <a href="#">
                        <img src="./assets/img/03.jpg">
                        <p>chaerong</p>
                    </a>
                </li>

                <li class="col-auto item">
                    <a href="#">
                        <img src="./assets/img/04.jpg">
                        <p>yooha</p>
                    </a>
                </li>

                <li class="col-auto item">
                    <a href="#">
                        <img src="./assets/img/05.jpg">
                        <p>1j_03ar</p>
                    </a>
                </li>

                <li class="col-auto item">
                    <a href="#">
                        <img src="./assets/img/06.jpg">
                        <p>9.85_1</p>
                    </a>
                </li>

                <li class="col-auto item">
                    <a href="#">
                        <img src="./assets/img/07.jpg">
                        <p>dongha</p>
                    </a>
                </li>

                <li class="col-lg item">
                    <a class="w-btn" href="#">
                        <div class="content">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                                <path
                                    d="M0 20.0003L19.9999 20.0003M19.9999 20.0003L40 20.0003M19.9999 20.0003V0M19.9999 20.0003V40"
                                    stroke="#FFF" />
                            </svg>
                            <span>MORE</span>
                        </div>
                    </a>
                    <p>&nbsp;</p>
                </li>
            </ul>
        </div>

    </div>
</section -->